@import '_variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background-color: $bg2;
  color: color-contrast($bg2, $dark, $light);
}

// Helper classes

.container-fluid,
.container {
  width: calc(100% - #{$spacer*2});
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.container {
  max-width:960px;
}